{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}

<main style=" margin-top: 80px;">
    <div class="container py-2">
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
          <h1 class="display-5 fw-bold">eBhandar</h1>
          <p class="col-md-8 fs-4">In Januar 2024, <a href="#" style="text-decoration:none; color:black;"><b> Echcha Group </b></a> launched its instant delivery service of grocery and much more things from the toun called <b>eBhandar</b> using web. In early 2024, the company started its first product called eBhandar and operated under <a href="#" style="text-decoration:none; color:black;"><b> Echcha Group </b></a> and will be continue launching new...</p>
          <a href="/"><button class="btn btn-primary btn-lg" type="button">Continue Shopping...</button></a>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>What's Our Aim</h2>
            <p>Our aim is to provide instant delivery service of any things available in the perticular city including prints and xerox, although its the big and heavy product. There is the option to view and buy products from your favorite store/shop anywhere in the city and also there is the option to ask for anything which is not available on the site...</p>
            <button class="btn btn-outline-light" type="button">Know More</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Motivation</h2>
            <p>We are here to help you to get your favorite product from your favorite shop. There are many website which provides delivery services but they have some limitations. In any of those there is no option to order from your favorite nearby shop. We provide the quick delivery of any product available in the city. We are only one who also provides the delivery of prints and Xerox and much more you can imagine...</p>
            <button class="btn btn-outline-secondary" type="button">Know More</button>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock body %}  