{% extends "base.html" %}
{% block title %} Login {% endblock title %}

{% block body %}

<div style="margin-left: 10%;margin-right: 10%;margin-top: 40px;margin-bottom: 40px;">
  <form method="post" action="/login">
    {% csrf_token %}
    <div class="form-group my-2">
      <label class="my-2" for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control my-2" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" name="email">
      <small id="emailHelp" class="form-text text-muted my-2">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group my-2">
      <label for="exampleInputPassword1 my-2">Password</label>
      <input type="password" class="form-control my-2" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>
    <input type="submit" class="btn btn-secondary my-2" value="Login" />
  </form>
</div>


{% endblock body %}